In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [22]:
election= pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\Elections.csv')

In [23]:
election[:5]

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,Camp Road Hamburg,"Buffalo, NY",NY,No,12/9/2021,8,12,20,-0.20,No
1,Genessee St,"Buffalo, NY",NY,No,12/9/2021,15,9,24,0.25,Yes
2,Elmwood,"Buffalo, NY",NY,No,12/9/2021,19,8,27,0.41,Yes
3,Power & Baseline Road,"Mesa, AZ",AZ,Yes,2/25/2022,25,3,28,0.79,Yes
4,Sheridan & Bailey,"Buffalo, NY",NY,No,3/9/2022,15,12,27,0.11,Yes

In [24]:
election.shape

(76, 10)

In [25]:
election.columns

Index(['Store', 'Location', 'State', 'RTWState', 'VoteCountDate', 'VotesYes',
       'VotesNo', 'VoteTotal', 'Margin', 'Result'],
      dtype='object')

In [26]:
election.describe()

        VotesYes    VotesNo  VoteTotal     Margin
count  76.000000  76.000000  76.000000  76.000000
mean   13.986842   4.644737  18.631579   0.561316
std     7.399988   6.202589  11.282839   0.393695
min     4.000000   0.000000   5.000000  -0.310000
25%     9.750000   1.000000  13.000000   0.225000
50%    12.500000   2.500000  15.500000   0.685000
75%    17.000000   7.000000  21.000000   0.882500
max    46.000000  36.000000  82.000000   1.000000

In [27]:
election.isna().sum()       ### to find any missing values columnwise

Store            0
Location         0
State            0
RTWState         0
VoteCountDate    0
VotesYes         0
VotesNo          0
VoteTotal        0
Margin           0
Result           0
dtype: int64

### using Label_encoder

In [28]:
from sklearn.preprocessing import LabelEncoder       ##  encoding the  categorical columns

In [29]:
encoder_store = LabelEncoder()
encoder_store.fit(election['Store'])
election['Store'] = encoder_store.transform(election['Store'])

In [30]:
encoder_location = LabelEncoder()
encoder_location.fit(election['Location'])
election['Location'] = encoder_location.transform(election['Location'])

In [31]:
encoder_state = LabelEncoder()
encoder_state.fit(election['State'])
election['State'] = encoder_state.transform(election['State'])

In [32]:
encoder_rtwstate = LabelEncoder()
encoder_rtwstate.fit(election['RTWState'])
election['RTWState'] = encoder_rtwstate.transform(election['RTWState'])

In [33]:
encoder_VoteCountDate = LabelEncoder()
encoder_VoteCountDate.fit(election['VoteCountDate'])
election['VoteCountDate'] = encoder_VoteCountDate.transform(election['VoteCountDate'])

In [34]:
election[:10]

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,21,6,11,0,0,8,12,20,-0.20,No
1,37,6,11,0,0,15,9,24,0.25,Yes
2,33,6,11,0,0,19,8,27,0.41,Yes
3,59,23,0,1,1,25,3,28,0.79,Yes
4,63,6,11,0,5,15,12,27,0.11,Yes
5,67,6,11,0,5,15,12,27,0.11,Yes
6,20,40,16,0,2,9,0,9,1.00,Yes
7,28,23,0,1,3,11,3,14,0.57,Yes
8,44,18,14,1,4,8,7,15,0.07,Yes
9,54,28,11,0,6,46,36,82,0.12,Yes

In [35]:
y =election['Result']
y[:5]

0     No
1    Yes
2    Yes
3    Yes
4    Yes
Name: Result, dtype: object

In [36]:
x= election.drop('Result', 1)
x

C:\Users\MUTHUK~1\AppData\Local\Temp/ipykernel_7772/3737227823.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x= election.drop('Result', 1)

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin
0,21,6,11,0,0,8,12,20,-0.20
1,37,6,11,0,0,15,9,24,0.25
2,33,6,11,0,0,19,8,27,0.41
3,59,23,0,1,1,25,3,28,0.79
4,63,6,11,0,5,15,12,27,0.11
...,...,...,...,...,...,...,...,...,...
71,7,24,2,1,23,10,3,13,0.54
72,2,17,2,1,23,8,1,9,0.78
73,1,21,7,0,23,15,2,17,0.76
74,62,17,2,1,23,10,7,17,0.18
75,32,8,1,0,23,13,0,13,1.00

### train_test_split

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

### KNNClassifier

In [38]:
knn =KNeighborsClassifier()

In [39]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [40]:
y_pred =knn.predict(x_test)

In [41]:
acc = accuracy_score(y_test,y_pred)
acc

0.8695652173913043

###  Model has acheived 86 percent accuracy. Let's try to scale the values

### Standardization

In [42]:
scaler= StandardScaler()

In [43]:
x.values[:3]

array([[21.  ,  6.  , 11.  ,  0.  ,  0.  ,  8.  , 12.  , 20.  , -0.2 ],
       [37.  ,  6.  , 11.  ,  0.  ,  0.  , 15.  ,  9.  , 24.  ,  0.25],
       [33.  ,  6.  , 11.  ,  0.  ,  0.  , 19.  ,  8.  , 27.  ,  0.41]])

In [44]:
x_train_scaled =scaler.fit_transform(x_train)

In [45]:
x_test_scaled=scaler.fit_transform(x_test)

###  After scaling the x data, check our accuracy score

In [46]:
knn =KNeighborsClassifier()

In [47]:
knn.fit(x_train_scaled,y_train)

KNeighborsClassifier()

In [48]:
y_pred =knn.predict(x_test_scaled)

In [49]:
acc = accuracy_score(y_test,y_pred)
acc

0.9130434782608695

###  As you can see above, accuracy has improved to some extent  by standardizing the column values.