In [223]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [224]:
election= pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\Elections.csv')

In [225]:
election[:5]

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,Camp Road Hamburg,"Buffalo, NY",NY,No,12/9/2021,8,12,20,-0.20,No
1,Genessee St,"Buffalo, NY",NY,No,12/9/2021,15,9,24,0.25,Yes
2,Elmwood,"Buffalo, NY",NY,No,12/9/2021,19,8,27,0.41,Yes
3,Power & Baseline Road,"Mesa, AZ",AZ,Yes,2/25/2022,25,3,28,0.79,Yes
4,Sheridan & Bailey,"Buffalo, NY",NY,No,3/9/2022,15,12,27,0.11,Yes

In [226]:
election.shape

(76, 10)

In [227]:
election.columns

Index(['Store', 'Location', 'State', 'RTWState', 'VoteCountDate', 'VotesYes',
       'VotesNo', 'VoteTotal', 'Margin', 'Result'],
      dtype='object')

In [228]:
election.describe()

        VotesYes    VotesNo  VoteTotal     Margin
count  76.000000  76.000000  76.000000  76.000000
mean   13.986842   4.644737  18.631579   0.561316
std     7.399988   6.202589  11.282839   0.393695
min     4.000000   0.000000   5.000000  -0.310000
25%     9.750000   1.000000  13.000000   0.225000
50%    12.500000   2.500000  15.500000   0.685000
75%    17.000000   7.000000  21.000000   0.882500
max    46.000000  36.000000  82.000000   1.000000

In [229]:
election.isna().sum()       ### to find any missing values columnwise

Store            0
Location         0
State            0
RTWState         0
VoteCountDate    0
VotesYes         0
VotesNo          0
VoteTotal        0
Margin           0
Result           0
dtype: int64

### using Label_encoder

In [230]:
from sklearn.preprocessing import LabelEncoder       ##  encoding the  categorical columns

In [231]:
encoder_store = LabelEncoder()
election['Store'] = encoder_store.fit_transform(election['Store'])

In [232]:
encoder_location = LabelEncoder()
election['Location'] = encoder_location.fit_transform(election['Location'])

In [233]:
encoder_state = LabelEncoder()
election['State'] = encoder_state.fit_transform(election['State'])

In [234]:
encoder_rtwstate = LabelEncoder()
election['RTWState'] = encoder_rtwstate.fit_transform(election['RTWState'])

In [235]:
encoder_VoteCountDate = LabelEncoder()
election['VoteCountDate'] = encoder_VoteCountDate.fit_transform(election['VoteCountDate'])

In [236]:
election[:10]

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,21,6,11,0,0,8,12,20,-0.20,No
1,37,6,11,0,0,15,9,24,0.25,Yes
2,33,6,11,0,0,19,8,27,0.41,Yes
3,59,23,0,1,1,25,3,28,0.79,Yes
4,63,6,11,0,5,15,12,27,0.11,Yes
5,67,6,11,0,5,15,12,27,0.11,Yes
6,20,40,16,0,2,9,0,9,1.00,Yes
7,28,23,0,1,3,11,3,14,0.57,Yes
8,44,18,14,1,4,8,7,15,0.07,Yes
9,54,28,11,0,6,46,36,82,0.12,Yes

In [237]:
y =election['Result']
y[:5]

0     No
1    Yes
2    Yes
3    Yes
4    Yes
Name: Result, dtype: object

In [238]:
x= election.drop('Result', 1)
x

C:\Users\MUTHUK~1\AppData\Local\Temp/ipykernel_7772/3737227823.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x= election.drop('Result', 1)

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin
0,21,6,11,0,0,8,12,20,-0.20
1,37,6,11,0,0,15,9,24,0.25
2,33,6,11,0,0,19,8,27,0.41
3,59,23,0,1,1,25,3,28,0.79
4,63,6,11,0,5,15,12,27,0.11
...,...,...,...,...,...,...,...,...,...
71,7,24,2,1,23,10,3,13,0.54
72,2,17,2,1,23,8,1,9,0.78
73,1,21,7,0,23,15,2,17,0.76
74,62,17,2,1,23,10,7,17,0.18
75,32,8,1,0,23,13,0,13,1.00

### train_test_split

In [239]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

### KNNClassifier

In [240]:
knn =KNeighborsClassifier()

In [241]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [242]:
y_pred =knn.predict(x_test)

In [243]:
acc = accuracy_score(y_test,y_pred)
acc

0.875

###  Model has acheived 86 percent accuracy. Let's try to scale the values

### Standardization

In [244]:
scaler= StandardScaler()

In [245]:
x.values[:3]

array([[21.  ,  6.  , 11.  ,  0.  ,  0.  ,  8.  , 12.  , 20.  , -0.2 ],
       [37.  ,  6.  , 11.  ,  0.  ,  0.  , 15.  ,  9.  , 24.  ,  0.25],
       [33.  ,  6.  , 11.  ,  0.  ,  0.  , 19.  ,  8.  , 27.  ,  0.41]])

In [246]:
x_train_scaled =scaler.fit_transform(x_train)

In [247]:
x_test_scaled=scaler.fit_transform(x_test)

###  After scaling the x data, check our accuracy score

In [248]:
knn =KNeighborsClassifier()

In [249]:
knn.fit(x_train_scaled,y_train)

KNeighborsClassifier()

In [250]:
y_pred =knn.predict(x_test_scaled)

In [251]:
acc = accuracy_score(y_test,y_pred)
acc

0.9375

###  As you can see above, accuracy has improved to some extent  by standardizing the column values.

### Encode Existing Features more Meaningfully

In [284]:
election.columns

Index(['Store', 'Location', 'State', 'RTWState', 'VoteCountDate', 'VotesYes',
       'VotesNo', 'VoteTotal', 'Margin', 'Result'],
      dtype='object')

In [285]:
election= pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\Elections.csv')

In [286]:
election['State'].value_counts(ascending=False)

NY    17
VA     9
OR     8
FL     7
MA     6
WA     4
AZ     4
NJ     3
IL     3
PA     2
CO     2
MD     2
MN     2
WI     2
NC     2
KS     1
TN     1
GA     1
Name: State, dtype: int64

In [287]:
## encode state column
encoded_state =[]

##iterate through each rowo in the datatset
for i in election.itertuples():
    state= i.State
    if state== 'NY':
        encoded_state.append(0)
    elif state== 'VA':
        encoded_state.append(1)
    elif state== 'OR':
        encoded_state.append(2)
    elif state== 'FL':
        encoded_state.append(3)
    elif state== 'MA':
        encoded_state.append(4)
    elif state in ('WA','AZ'):
        encoded_state.append(5)
    elif state in ('NJ','IL'):
        encoded_state.append(6)
    elif state in ('PA','CO','MD','MN','WI','NC'):
        encoded_state.append(7)
    elif state in ('KS','TN','GA'):
        encoded_state.append(8)

In [288]:
election['State']=encoded_state

In [290]:
election['Location'].value_counts(ascending=False)

Eugene, OR              8
Buffalo, NY             7
Boston, MA              5
Richmond, VA            4
Seattle, WA             3
Ithaca, NY              3
New York, NY            2
Rochester, NY           2
Jacksonville, FL        2
Pittsburgh, PA          2
Mesa, AZ                2
Minneapolis, MN         1
Brooklyn, NY            1
Raleigh, NC             1
Great Neck Plaza, NY    1
Watertown, MA           1
Farmville, VA           1
Tallahassee, FL         1
La Granga, IL           1
Massapequa, NY          1
Plover, WI              1
Phoenix, AZ             1
Avondale, AZ            1
Summit, NJ              1
Estero, FL              1
Miami Springs, FL       1
Linthicum, MD           1
Hamilton, NJ            1
St. Paul, MN            1
Boone, NC               1
Olympia, WA             1
Knoxville, TN           1
Overland Park, KS       1
Springfield, VA         1
Midlothian, VA          1
Hialeah, FL             1
Miami, FL               1
Superior, CO            1
Falls Church, VA        1
Leesburg, VA            1
Baltimore, MD           1
Pennington, NJ          1
Peoria, IL              1
Cary, IL                1
Oak Creek, WI           1
Augusta, GA             1
Denver, CO              1
Name: Location, dtype: int64

In [291]:
election['Location'] = [0 if x== '<=2' else 1 for x in election['Location']]

In [293]:
election['VoteCountDate'].value_counts(ascending=False)

5/3/2022     10
4/28/2022     6
5/10/2022     5
4/19/2022     5
5/5/2022      4
4/8/2022      4
4/22/2022     4
5/6/2022      3
5/2/2022      3
4/29/2022     3
12/9/2021     3
4/7/2022      3
3/9/2022      2
4/11/2022     2
4/25/2022     2
4/26/2022     2
4/27/2022     2
4/13/2022     2
3/29/2022     1
3/22/2022     1
5/4/2022      1
3/25/2022     1
4/14/2022     1
4/30/2022     1
4/1/2022      1
4/23/2022     1
2/25/2022     1
4/20/2022     1
4/21/2022     1
Name: VoteCountDate, dtype: int64

In [294]:
election['VoteCountDate'] = [0 if x== '<=2' else 1 for x in election['VoteCountDate']]

In [296]:
election['RTWState'] = [0 if x== 'No' else 1 for x in election['RTWState']]

In [298]:
encoder_store = LabelEncoder()
election['Store'] = encoder_store.fit_transform(election['Store'])

In [311]:
y =election['Result']
y[:2]

0     No
1    Yes
Name: Result, dtype: object

In [310]:
x= election.drop('Result', 1)
x[:2]

C:\Users\MUTHUK~1\AppData\Local\Temp/ipykernel_7772/1396770851.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x= election.drop('Result', 1)

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin
0,21,1,0,0,1,8,12,20,-0.20
1,37,1,0,0,1,15,9,24,0.25

### Standardization

In [302]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [303]:
scaler= StandardScaler()

In [304]:
x_train_scaled =scaler.fit_transform(x_train)

In [305]:
x_test_scaled=scaler.fit_transform(x_test)

### After scaling the x data, check our accuracy score

In [306]:
knn =KNeighborsClassifier()

In [307]:
knn.fit(x_train_scaled,y_train)

KNeighborsClassifier()

In [308]:
y_pred =knn.predict(x_test_scaled)

In [309]:
acc = accuracy_score(y_test,y_pred)
acc

1.0

### You can see that the accuracy has reached Score "1" . Since we have encoded the existing features meaningfully without any randomization, we are able to achieve the max performance from the model.