In [161]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
train = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\house_price_bengaluru\Data\Train.csv')

In [132]:
test = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\house_price_bengaluru\Data\Test.csv')

In [133]:
train.shape , test.shape

((13320, 9), (1480, 9))

In [134]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [162]:
train.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,source
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,train
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,train
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,train
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,train
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,train

In [135]:
train['source']='train'
test['source']='test'

In [136]:
data =pd.concat([train,test])

In [137]:
data = data.reset_index(drop=True)

In [138]:
data.shape

(14800, 10)

In [139]:
display((data.head(1)), display(data.tail(1)))

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,source
14799,Built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,MaicaRS,1150,2.0,2.0,NaN,test

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,source
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,train

None

### Data Cleaning

In [140]:
data.isna().sum()

area_type          0
availability       0
location           1
size              18
society         6128
total_sqft         0
bath              80
balcony          678
price           1480
source             0
dtype: int64

In [141]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,source
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,train
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,train
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,train
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,train
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,train

In [142]:
for i in data.columns:
#     if data[i].dtype =='object':
    nuni = data[i].nunique()
    print(i,':',nuni)

area_type : 4
availability : 82
location : 1358
size : 32
society : 2832
total_sqft : 2221
bath : 19
balcony : 4
price : 1994
source : 2

In [143]:
data['area_type'].value_counts()

Super built-up  Area    9736
Built-up  Area          2688
Plot  Area              2279
Carpet  Area              97
Name: area_type, dtype: int64

In [144]:
# data['area_type'].replace({'Super built-up  Area':1,'Built-up  Area':2,'Plot  Area':3,'Carpet  Area':4}, inplace=True)

In [145]:
data = pd.get_dummies(data,columns=['area_type'])

In [146]:
data['availability'].value_counts(dropna =False, normalize=True, ascending=False)

Ready To Move    0.793446
18-Dec           0.023716
18-May           0.021892
18-Apr           0.020000
18-Aug           0.015203
                   ...
15-Aug           0.000068
16-Nov           0.000068
16-Jan           0.000068
14-Jul           0.000068
16-Apr           0.000068
Name: availability, Length: 82, dtype: float64

In [147]:
data['availability'] =[1 if x == 'Ready To Move' else 0 for x in data['availability']]

In [148]:
data['availability'].value_counts()

1    11743
0     3057
Name: availability, dtype: int64

In [149]:
data['location']

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
14795                 Vittasandra
14796                   Gottigere
14797                Channasandra
14798                 Tumkur Road
14799          7th Phase JP Nagar
Name: location, Length: 14800, dtype: object

In [150]:
data = data.dropna(subset=['location'])

In [151]:
# data['location'] =data['location'].map(data['location'].value_counts())

In [152]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['location'] =le.fit_transform(data['location'])

In [153]:
data['location'].isna().sum()

0

In [154]:
data['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom', '16 Bedroom'], dtype=object)

In [155]:
data['size'].dtype

dtype('O')

In [158]:
data['size'].apply(lambda x: int(x.split('')[0]))

ValueError: empty separator

In [159]:
# data['size'] = data['size'].replace({'1 Bedroom':'1 BHK','1 RK':'1 BHK','2 Bedroom':'2 BHK','3 Bedroom':'3 BHK','4 Bedroom':'4 BHK',
#                       '5 Bedroom':'5 BHK','6 Bedroom':'6 BHK','7 Bedroom':'7 BHK','8 Bedroom':'8 BHK',
#                       '9 Bedroom':'9 BHK','10 Bedroom':'10 BHK','11 Bedroom':'11 BHK','16 Bedroom':'16 BHK'})

In [160]:
data['size'].value_counts()

2 BHK         5739
3 BHK         4787
4 Bedroom      918
4 BHK          673
3 Bedroom      613
1 BHK          592
2 Bedroom      368
5 Bedroom      338
6 Bedroom      208
1 Bedroom      122
7 Bedroom       95
8 Bedroom       94
5 BHK           61
9 Bedroom       54
6 BHK           35
7 BHK           18
1 RK            15
10 Bedroom      15
9 BHK           13
8 BHK            8
10 BHK           2
11 BHK           2
11 Bedroom       2
19 BHK           1
16 BHK           1
43 Bedroom       1
14 BHK           1
27 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
16 Bedroom       1
Name: size, dtype: int64

In [54]:
# data['size'] = [1 if x == '1 BHK' else 2 if x == '2 BHK' else 3 if x=='3 BHK' else 4 if x=='4 BHK' else 5 if x =='5 BHK' 
#  else 6 if x=='6 BHK' else 7 if x=='7 BHK' else 8 if x=='8 BHK' else 9 if x=='9 BHK' else 10 if x=='10 BHK' else 
#  0 for x in data['size']]

In [55]:
data['size'].value_counts(dropna =False, ascending=False)

2     6107
3     5400
4     1591
1      729
5      399
6      243
7      113
8      102
9       67
0       31
10      17
Name: size, dtype: int64

In [56]:
data['society'].value_counts(dropna =False, ascending=False)

NaN        6128
GrrvaGr      92
PrarePa      78
Prtates      64
Sryalan      63
           ...
DSapete       1
Matrai        1
SrentAp       1
Saowsou       1
MaicaRS       1
Name: society, Length: 2833, dtype: int64

In [57]:
# data =data.drop(columns=['society'])

In [58]:
 data['society'] =data['society'].replace({np.NaN:'unknown'})

In [59]:
data['society'] =le.fit_transform(data['society'])

In [60]:
#  data['society'] = data['society'].map(data['society'].value_counts())

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14799 entries, 0 to 14799
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   availability                    14799 non-null  int64
 1   location                        14799 non-null  int32
 2   size                            14799 non-null  int64
 3   society                         14799 non-null  int32
 4   total_sqft                      14799 non-null  object
 5   bath                            14719 non-null  float64
 6   balcony                         14121 non-null  float64
 7   price                           13319 non-null  float64
 8   source                          14799 non-null  object
 9   area_type_Built-up  Area        14799 non-null  uint8
 10  area_type_Carpet  Area          14799 non-null  uint8
 11  area_type_Plot  Area            14799 non-null  uint8
 12  area_type_Super built-up  Area  14799 non-null  uint8
dtypes: float64(3), int32(2), int64(2), object(2), uint8(4)
memory usage: 1.1+ MB

In [62]:
data['total_sqft'].value_counts(normalize=True,ascending=False)

1200           0.063518
1100           0.016217
1500           0.016082
2400           0.015136
600            0.013514
                 ...
1113.12        0.000068
1782 - 2000    0.000068
621            0.000068
981            0.000068
6750           0.000068
Name: total_sqft, Length: 2221, dtype: float64

In [63]:
#data['Arrival'] = data['Route'].apply(lambda x:(x.split(',')[-1]))
data['total_sqft'] =data['total_sqft'].apply(lambda x : x.split('-')[0])
data['total_sqft'] =data['total_sqft'].apply(lambda x: re.sub('[^0-9]+','',x))
data['total_sqft'] =data['total_sqft'].astype('int')

In [64]:
# data['total_sqft'].apply(lambda x: re.sub('[^0-9]+','',x)).value_counts(ascending=True)

In [65]:
data['bath'].value_counts(dropna=False)

2.0     7652
3.0     3656
4.0     1375
1.0      871
5.0      586
6.0      303
7.0      113
NaN       80
8.0       73
9.0       52
10.0      17
12.0       7
13.0       3
16.0       3
11.0       3
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [66]:
# df[['col1', 'col2']] = df[['col1', 'col2']].fillna(df[['col1', 'col2']].median())

In [67]:
data['bath'].mean()

2.698688769617501

In [68]:
data['balcony'].mean()

1.582111748459741

In [69]:
data[['bath','balcony']] =data[['bath','balcony']].fillna(data[['bath','balcony']].median())

In [70]:
data.describe()

,availability,location,size,society,total_sqft,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
count,14799.000000,14799.000000,14799.000000,14799.000000,14799.000000,14799.000000,14799.000000,13319.000000,14799.000000,14799.000000,14799.000000,14799.000000
mean,0.793432,693.282587,2.793432,2009.472262,2475.982093,2.694912,1.601257,112.567621,0.181634,0.006554,0.153997,0.657815
std,0.404856,377.902513,1.209491,911.408622,13441.147139,1.341317,0.804939,148.977089,0.385556,0.080697,0.360958,0.474457
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,407.000000,2.000000,1316.000000,1100.000000,2.000000,1.000000,50.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,670.000000,3.000000,2328.000000,1280.000000,2.000000,2.000000,72.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,1033.000000,3.000000,2832.000000,1691.000000,3.000000,2.000000,120.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1357.000000,10.000000,2832.000000,566584.000000,40.000000,3.000000,3600.000000,1.000000,1.000000,1.000000,1.000000

In [71]:
data.isna().sum()

availability                         0
location                             0
size                                 0
society                              0
total_sqft                           0
bath                                 0
balcony                              0
price                             1480
source                               0
area_type_Built-up  Area             0
area_type_Carpet  Area               0
area_type_Plot  Area                 0
area_type_Super built-up  Area       0
dtype: int64

### Scaling

In [72]:
from sklearn.preprocessing import StandardScaler

In [73]:
# scale = StandardScaler()
# scaled = scale.fit_transform(data_numbers.drop(columns='Item_Outlet_Sales'))
# data_numbers = pd.DataFrame(scaled, columns=data_numbers.drop(columns='Item_Outlet_Sales').columns)
#data_preprocessed = pd.concat([data_numbers, data_category_one_hot, data[['Item_Identifier','Outlet_Identifier','source','Item_Outlet_Sales']]], axis = 1)

In [74]:
scale = StandardScaler()
scaled = scale.fit_transform(data.drop(columns=['price','source']))
scaled_data = pd.DataFrame(scaled,columns=data.drop(columns=['price','source']).columns)
scaled_data

,availability,location,size,society,total_sqft,bath,balcony,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,-1.959852,-0.696718,-0.656027,-1.670517,-0.105648,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
1,0.510243,-0.974577,0.997617,0.612839,0.009227,1.718585,1.737760,-0.471113,-0.081226,2.343851,-1.386504
2,0.510243,1.391193,0.170795,0.902510,-0.077078,-0.518099,1.737760,2.122635,-0.081226,-0.426648,-1.386504
3,0.510243,0.224186,0.170795,0.320973,-0.071052,0.227462,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
4,0.510243,0.113042,-0.656027,0.902510,-0.094934,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
...,...,...,...,...,...,...,...,...,...,...,...
14794,0.510243,1.563200,-0.656027,-0.366996,-0.091512,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
14795,0.510243,-0.572343,0.170795,0.902510,-0.060710,0.227462,0.495387,-0.471113,-0.081226,-0.426648,0.721238
14796,0.510243,-1.003686,-0.656027,0.676479,-0.093744,-0.518099,0.495387,-0.471113,-0.081226,-0.426648,0.721238
14797,-1.959852,1.362084,-0.656027,0.067511,-0.110112,-0.518099,-0.746985,2.122635,-0.081226,-0.426648,-1.386504
14798,0.510243,-1.633499,-0.656027,-0.796017,-0.098654,-0.518099,0.495387,2.122635,-0.081226,-0.426648,-1.386504

In [75]:
scaled_data.reset_index(drop=True, inplace=True)

In [76]:
data.reset_index(drop=True, inplace=True)

In [77]:
preprocessed_data = pd.concat(([scaled_data,data[['price','source']]]),axis=1)

In [78]:
preprocessed_data

,availability,location,size,society,total_sqft,bath,balcony,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,price,source
0,-1.959852,-0.696718,-0.656027,-1.670517,-0.105648,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,39.07,train
1,0.510243,-0.974577,0.997617,0.612839,0.009227,1.718585,1.737760,-0.471113,-0.081226,2.343851,-1.386504,120.00,train
2,0.510243,1.391193,0.170795,0.902510,-0.077078,-0.518099,1.737760,2.122635,-0.081226,-0.426648,-1.386504,62.00,train
3,0.510243,0.224186,0.170795,0.320973,-0.071052,0.227462,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,95.00,train
4,0.510243,0.113042,-0.656027,0.902510,-0.094934,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,51.00,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14794,0.510243,1.563200,-0.656027,-0.366996,-0.091512,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,NaN,test
14795,0.510243,-0.572343,0.170795,0.902510,-0.060710,0.227462,0.495387,-0.471113,-0.081226,-0.426648,0.721238,NaN,test
14796,0.510243,-1.003686,-0.656027,0.676479,-0.093744,-0.518099,0.495387,-0.471113,-0.081226,-0.426648,0.721238,NaN,test
14797,-1.959852,1.362084,-0.656027,0.067511,-0.110112,-0.518099,-0.746985,2.122635,-0.081226,-0.426648,-1.386504,NaN,test
14798,0.510243,-1.633499,-0.656027,-0.796017,-0.098654,-0.518099,0.495387,2.122635,-0.081226,-0.426648,-1.386504,NaN,test

In [79]:
preprocessed_data.reset_index(drop=True)

,availability,location,size,society,total_sqft,bath,balcony,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,price,source
0,-1.959852,-0.696718,-0.656027,-1.670517,-0.105648,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,39.07,train
1,0.510243,-0.974577,0.997617,0.612839,0.009227,1.718585,1.737760,-0.471113,-0.081226,2.343851,-1.386504,120.00,train
2,0.510243,1.391193,0.170795,0.902510,-0.077078,-0.518099,1.737760,2.122635,-0.081226,-0.426648,-1.386504,62.00,train
3,0.510243,0.224186,0.170795,0.320973,-0.071052,0.227462,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,95.00,train
4,0.510243,0.113042,-0.656027,0.902510,-0.094934,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,51.00,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14794,0.510243,1.563200,-0.656027,-0.366996,-0.091512,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,NaN,test
14795,0.510243,-0.572343,0.170795,0.902510,-0.060710,0.227462,0.495387,-0.471113,-0.081226,-0.426648,0.721238,NaN,test
14796,0.510243,-1.003686,-0.656027,0.676479,-0.093744,-0.518099,0.495387,-0.471113,-0.081226,-0.426648,0.721238,NaN,test
14797,-1.959852,1.362084,-0.656027,0.067511,-0.110112,-0.518099,-0.746985,2.122635,-0.081226,-0.426648,-1.386504,NaN,test
14798,0.510243,-1.633499,-0.656027,-0.796017,-0.098654,-0.518099,0.495387,2.122635,-0.081226,-0.426648,-1.386504,NaN,test

In [80]:
preprocessed_data.isna().sum()

availability                         0
location                             0
size                                 0
society                              0
total_sqft                           0
bath                                 0
balcony                              0
area_type_Built-up  Area             0
area_type_Carpet  Area               0
area_type_Plot  Area                 0
area_type_Super built-up  Area       0
price                             1480
source                               0
dtype: int64

In [81]:
train_preprocessed = preprocessed_data[preprocessed_data['source']=='train'].drop(columns='source')

In [82]:
test_preprocessed = preprocessed_data[preprocessed_data['source']=='test'].drop(columns=['source','price'])

In [83]:
train_preprocessed.shape,test_preprocessed.shape

((13319, 12), (1480, 11))

In [84]:
train_preprocessed.head()

,availability,location,size,society,total_sqft,bath,balcony,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,price
0,-1.959852,-0.696718,-0.656027,-1.670517,-0.105648,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,39.07
1,0.510243,-0.974577,0.997617,0.612839,0.009227,1.718585,1.737760,-0.471113,-0.081226,2.343851,-1.386504,120.00
2,0.510243,1.391193,0.170795,0.902510,-0.077078,-0.518099,1.737760,2.122635,-0.081226,-0.426648,-1.386504,62.00
3,0.510243,0.224186,0.170795,0.320973,-0.071052,0.227462,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,95.00
4,0.510243,0.113042,-0.656027,0.902510,-0.094934,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238,51.00

In [85]:
train_preprocessed.isna().sum()

availability                      0
location                          0
size                              0
society                           0
total_sqft                        0
bath                              0
balcony                           0
area_type_Built-up  Area          0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
price                             0
dtype: int64

In [86]:
train_preprocessed.isna().sum()

availability                      0
location                          0
size                              0
society                           0
total_sqft                        0
bath                              0
balcony                           0
area_type_Built-up  Area          0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
price                             0
dtype: int64

In [87]:
test_preprocessed.isna().sum()

availability                      0
location                          0
size                              0
society                           0
total_sqft                        0
bath                              0
balcony                           0
area_type_Built-up  Area          0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
dtype: int64

In [88]:
test_preprocessed =test_preprocessed.reset_index(drop=True)
test_preprocessed

,availability,location,size,society,total_sqft,bath,balcony,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,0.510243,-1.083074,-0.656027,-0.147548,-0.093074,-0.518099,0.495387,-0.471113,-0.081226,-0.426648,0.721238
1,0.510243,-1.562050,5.131728,0.902510,-0.005653,4.700830,0.495387,-0.471113,-0.081226,2.343851,-1.386504
2,-1.959852,-0.421505,0.997617,0.021427,-0.061454,1.718585,0.495387,-0.471113,-0.081226,2.343851,-1.386504
3,0.510243,0.073348,0.170795,0.884954,-0.085857,0.227462,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
4,0.510243,0.089226,-0.656027,-2.056746,-0.097836,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
...,...,...,...,...,...,...,...,...,...,...,...
1475,0.510243,1.563200,-0.656027,-0.366996,-0.091512,-0.518099,-0.746985,-0.471113,-0.081226,-0.426648,0.721238
1476,0.510243,-0.572343,0.170795,0.902510,-0.060710,0.227462,0.495387,-0.471113,-0.081226,-0.426648,0.721238
1477,0.510243,-1.003686,-0.656027,0.676479,-0.093744,-0.518099,0.495387,-0.471113,-0.081226,-0.426648,0.721238
1478,-1.959852,1.362084,-0.656027,0.067511,-0.110112,-0.518099,-0.746985,2.122635,-0.081226,-0.426648,-1.386504
1479,0.510243,-1.633499,-0.656027,-0.796017,-0.098654,-0.518099,0.495387,2.122635,-0.081226,-0.426648,-1.386504

In [89]:
train_preprocessed.to_csv('train_preprocessed.csv', index=False)
test_preprocessed.to_csv('test_preprocessed.csv', index=False)